[2021-01-11 16:30] yurishkuro commented on #563
great!

[2021-01-11 18:02] sharkymcdongles commented on #671
That's fine and dandy. Please review my merge request or have someone review it on the helm chart then that does exactly that per my last comment.

[2021-01-11 19:01] yurishkuro commented on #671
@jpkrohling can you elaborate on reasons? There's no confidential info returned from the health check endpoint, and any bad things that can be done to the endpoint can also be done to the UI itself just the same.

[2021-01-12 07:16] bobrik commented on #675
I'll see if I can prototype something when jaegertracing/jaeger#2707 is merged, it seems like a good fit.

[2021-01-12 09:14] jpkrohling commented on #671
For Jaeger itself, and for this moment, there aren't concrete downsides but conceptually, public endpoints shouldn't expose more information than necessary, and the health check isn't inherently a public endpoint meant to be viewed by the general audience of the UI.

[2021-01-13 22:00] Jiali-Xing commented on #663
I don't know if there is any updated feature about it. But since I need to download json in batch so I wrote this simple script in Python, which does this work for me:
[code]

Hope this helps whoever needs batch-export right now.

[2021-01-14 01:19] yurishkuro commented on #123
this is not resolved until backend PR (https://github.com/jaegertracing/jaeger/pull/2707) is merged.

[2021-01-14 15:45] #123 closed

[2021-01-14 15:50] #563 closed

[2021-01-18 13:19] th3M1ke opened #680 ""Trace JSON"/"Trace JSON (unadjusted)" open outside Jaeger UI application"
## Requirement - what kind of business use case are you trying to solve?
<img width="355" alt="Screenshot 2021-01-13 at 22 04 21" src="https://user-images.githubusercontent.com/45467774/104920620-b5858d00-59a0-11eb-9636-c0c84425895d.png">

"Trace JSON"/"Trace JSON (unadjusted)" open outside Jaeger UI application. For this case, we have no ability to manage auth tokens in HTTP headers via iframe

#

[2021-01-18 14:47] yurishkuro commented on #680
Sorry, I don't fully follow what is being proposed. Are you suggesting a dedicated component to manually render JSON without leaving the UI? Currently View JSON buttons double as a means to download the trace JSON, not only view it.

[2021-01-18 14:52] th3M1ke commented on #680
Correct! I suggest a custom component for render/download raw traces.

The reason for that is once you open "Trace JSON" its go out of UI app control and fire direct API query, which is under control of iframe in our case... 😞

[2021-01-18 15:14] yurishkuro commented on #680
I think we may already have some form of JSON rendering for tag values, so perhaps it's not too bad to implement it for full trace JSON. The only concern I have is to make sure that the component scales up for very large traces, since the current method just relies on the browser file rendering with minimal overhead.

[2021-01-20 11:51] th3M1ke commented on #680
What is the max size of trace have you face? BTW, you have mentioned `form of JSON rendering for tag values` can you help to find it?

[2021-01-20 17:36] th3M1ke commented on #652
@yurishkuro can I take this one?

[2021-01-20 19:08] yurishkuro commented on #652
sure

[2021-01-20 19:13] yurishkuro commented on #680
* 100,000 spans and more.
* I think this is related PR #162. I.e. when the tag value is a JSON string, we pretty-print it.

[2021-01-24 11:17] ssharifdev opened #682 "yarn build and yarn start not working as expected in Windows"
## Requirement - Development in windows OS

## Problem - yarn build and yarn start commands don't work as expected in windows os

## Proposal - not yet

## npm commands environment variable was throwing error so I have added set in front of variables in the package.json script commands.

## build folder is also not generated

### I have attached the screenshots, let me know if am doing anything wr

[2021-01-24 15:17] Danafrid opened #683 "Improve Search box UI and UX"
## Requirement - what kind of business use case are you trying to solve?
Improving the usability of the search in Jaeger, by unifying between the two tabs - saving the user an extra click and updating the UI.

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, there are several issues in the Search box UI:
- The search button is not prominent enough
- In order to uploa

[2021-01-24 16:41] yurishkuro commented on #682
Sorry, we do not aim to support the development process on Windows. If you have a fix for the problem feel free to propose a PR.

[2021-01-24 16:41] #682 closed

[2021-02-08 20:04] mehta-ankit commented on #636
Would the solution be to overwrite this max-span-age value with this flag:
`--es.max-span-age`
![image](https://user-images.githubusercontent.com/22157398/107274832-f2342980-6a1e-11eb-8804-4e21c974ea3c.png)

[2021-02-08 20:08] mehta-ankit commented on #636
Also i think i found a similar issue, which was reported earlier: https://github.com/jaegertracing/jaeger-ui/issues/400
and Yuri made the same comment
https://github.com/jaegertracing/jaeger-ui/issues/400#issuecomment-522615780

[2021-02-09 17:50] mehta-ankit commented on #636
Can confirm that this solves the problem: https://github.com/jaegertracing/jaeger-ui/issues/636#issuecomment-775409363

Setting it equal to the retention period of our spans it did work for us. (for us retention period is 7 days, and hence we set max-span-age to 168 hours)

[2021-02-11 10:21] ilyakaznacheev commented on #211
Any progress on this topic?

[2021-02-11 16:03] yurishkuro commented on #211
We have no plans to implement login as a standalone feature, there are many existing solutions for that via reverse proxies. We may revisit if/when we support multi-tenancy and need to implement authorization.

[2021-02-11 16:03] #211 closed

[2021-02-12 05:02] nvx opened #686 "Relative times for logs"
## Requirement - what kind of business use case are you trying to solve?

Viewing log times in a trace can reveal interesting timing information and is a very handy feature.

## Problem - what in Jaeger blocks you from solving the requirement?

When a span starts long into a trace (eg, an hour later) which is common for async processes working from pub-sub queues, the times shown in logs are relat

[2021-02-16 20:07] #652 closed

[2021-02-17 06:42] vvvprabhakar opened #689 "Trace Statistics : ST total :: More intuitive explanation for user"
In the latest versions, you have given a description of what is self-time in the trace graph view.
Can you provide the same info in trace statistics also?
Or else can we have a sticky bar across the different views of traces whatever we have in the trace graph?
And, **sometimes in the trace statistics we are seeing ST in duration for some groups it's more than 100% can I know why ??**

A sticky ba

[2021-02-17 07:00] vvvprabhakar opened #690 "How to view the most time consumed span in particular group inside Trace Statistics"
We have implemented distributed tracing using Jaeger

We have an issue in finding out the most time consumed span in a trace if at all a trace consists of almost ~40K spans

Is there a sort available based on the time taken for the span?

And, we have thought like, listing out all spans of a trace in a single table with a sort functionality to the spans

What your take on this?

Below is the scree

[2021-02-17 07:01] vvvprabhakar commented on #690
Is there something like in the pipeline?

[2021-02-17 15:34] yurishkuro commented on #690
Did you try the other table view we have? It seems what you want is a subset of that.

[2021-02-18 13:54] vvvprabhakar commented on #690
Yes I have tried trace Statistics also
Our primary target is to find out the longest find in a trace which has almost ~50K spans

[2021-02-18 15:35] yurishkuro commented on #690
+1, I think the view that you have makes sense as an additional display. Would you like to submit a PR?

[2021-02-22 12:30] vvvprabhakar commented on #690
Yes. Even  I am also interested in submitting PR
See you soon in a week

[2021-02-22 13:05] vvvprabhakar commented on #689
@yurishkuro  can you clarify sometimes in the trace statistics we are seeing ST in duration for some groups it's more than 100%?

[2021-02-22 15:24] yurishkuro commented on #689
If that view aggregates by service and a given service occurs in the leaves and there are concurrent requests to that service, then the cumulative self time can be larger that the total trace duration, thus > 100%

[2021-02-23 01:36] yurishkuro opened #704 "[bug] Flaky test coverage for SpanBarRow.tsx"
The following lines intermittently show up as not covered in codecov:

https://github.com/jaegertracing/jaeger-ui/blob/dac69134eed5fbf9087e1fc6e0aab514c5fd95e2/packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBarRow.tsx#L117-L120

[2021-02-23 10:11] albertteoh opened #708 "Create a manual UI sanity check runbook"
## Requirement - what kind of business use case are you trying to solve?

- Relates to https://github.com/jaegertracing/jaeger/issues/2734#issuecomment-783356447
- Ensure a bug-free UI release by documenting a consistent set of manual sanity checks on the Jaeger UI.
- Motivated by a lack of confidence in existing unit test coverage when applying dependabot version bumps.
- Doubles as a UI feature

[2021-02-23 10:26] jpkrohling commented on #708
Don't you think this would be a great Outreachy internship idea? The first phase is to document what to test, the second phase could be to automate the testing. In a previous life, I used quite a lot of Selenium with [Saucelabs](https://saucelabs.com). Perhaps there's a version of it free for open source projects?

[2021-02-23 10:41] albertteoh commented on #708
Yup, I think this is a great idea. I'm new to the Outreachy internship program (I saw some mention of it in our Gitter chat). With some Googling, it looks like this would be a good place to start reading about it? https://www.outreachy.org/

I guess we'd need to submit this as a possible project to outreachy for approval then elect a candidate to work on it?

I managed to get a Selenium-based test

[2021-02-23 12:28] jpkrohling commented on #708
That's correct! Here's a draft project proposal. Let me know if you'd like to be a mentor or co-mentor.

---

# UI testing for Jaeger
Mentor: Juraci Paixão Kröhling (@jpkrohling)
Status: Pending

One of the key parts of Jaeger is its UI. Unfortunately, we have little to no automation when it comes to ensuring the UI is working properly before we perform a new release.

Your role in this project is

[2021-02-23 17:06] bboreham opened #709 "Allow a tag to be displayed next to operation name in search view"
## Requirement - what kind of business use case are you trying to solve?

Presented with a set of traces in the search view, I would like to pick ones of interest more quickly, by having more information available on each row.

Example how this might look:

![image](https://user-images.githubusercontent.com/8125524/108878048-c22c7f00-75f7-11eb-8d6b-9941175d1f82.png)

This idea is very similar to #

[2021-02-23 17:34] yurishkuro commented on #709
I feel like this has to be more dynamic than a static config per installation. Essentially, this sounds more like we need a feature extraction pipeline that can represent traces in tabular format and an analytical storage that allows querying / filtering / group-bys on some standard columns.

[2021-02-23 17:54] bboreham commented on #709
Now you mention it, before I started hacking on the code my thought was that as a user I should be able to configure by point-and-click, "when you see this kind of trace, pull the URL tag up to the search view".

Is that a progression of the GraphQL thoughts that have been posted here, or something different?
I'm a little daunted by the size of that.

[2021-02-23 18:23] yurishkuro commented on #709
No, unrelated to GraphQL. Yes, it is a very large scope. It is feasible to do if the storage backend supports such queries (Elasticsearch does).

What you propose is a simpler version, I guess. Not opposed to it, but also not sure how useful it will be, especially because the data set is limited to the search results. Dynamic filtering of search results is also a sizable scope.

[2021-02-25 14:32] cptkng23 commented on #663
The option to simply export/download all found traces of a search to json would be so useful.

[2021-02-28 09:10] RiyaJ2311 opened #711 "[BUG] No image in the article's panel"
## Requirement
[The organization](https://www.hotosm.org/) is the most easily accessible and is considered as the most reliable [source.](https://www.smartinsights.com/user-experience/website-design/what-is-the-importance-of-web-design-for-your-audience/#:~:text=A%20well%2Ddesigned%20website%20can,navigate%20your%20website%20with%20ease.)
The red marked square shows the bug, I am talking about.
Th

[2021-02-28 16:44] yurishkuro commented on #711
the articles are pulled from Medium.com, if there's no image then we don't show any. I am not convinced that showing a fixed placeholder would be better, rather it's better to insist that authors always include an image in the article.

[2021-03-01 20:47] th3M1ke commented on #680
@yurishkuro `json-markup` almost ok on chrome with hotROD data, but it renders more than 10 seconds in safari... Can you share some examples of trace for 100,000 spans, or just say its approximate size?

[2021-03-01 21:01] yurishkuro commented on #680
Sorry I don't have examples, it was with Uber's production data.

Do you mean the size in bytes? For 100,000 spans it would be 50-100Mb.

[2021-03-10 07:05] vijayvishnu opened #717 "How to integrate jaeger ui with angular1.x?"

[2021-03-19 08:42] zhangcan12138 opened #718 "yarn build error"
[_tasks/build/lib/types] src/DirectedGraph/DirectedGraph.tsx(155,15): error TS2339: Property 'graph' does not exist on type 'TCancelled | TPositionsDone<Record<string, unknown>>'.
[_tasks/build/lib/types] src/DirectedGraph/DirectedGraph.tsx(155,35): error TS2339: Property 'vertices' does not exist on type 'TCancelled | TPositionsDone<Record<string, unknown>>'.
[_tasks/build/lib/types] src/Directed

[2021-03-19 08:43] zhangcan12138 commented on #718
![jaeger-ui-error](https://user-images.githubusercontent.com/46553454/111753803-3c3be500-88d2-11eb-9338-4f925a2a0e5c.png)

[2021-03-23 10:04] lihang212010 opened #719 "In uiEmbed=v0, deep dependency graph, the result is blank"
When I use uiEmbed=v0, traces has a result, but deep dependency graph has no result. If I remove uiEmbed=v0, deep dependency graph will display the result
![image](https://user-images.githubusercontent.com/38468839/112128906-d61cce00-8c01-11eb-9813-fdbe74102813.png)
![image](https://user-images.githubusercontent.com/38468839/112128948-e2089000-8c01-11eb-8702-7fa1800d8e54.png)
![image](https://user

[2021-03-23 10:06] lihang212010 commented on #719
The console will have the following warning:Wrapper div has no height or width, try overriding style with `containerStyle` option

[2021-03-25 09:05] sdgmf commented on #719
I also encountered the same problem

[2021-03-29 16:11] cptkng23 commented on #171
Hi @tiffon and @yurishkuro

Following up on the (old) initial request of @ncsibra : Is there any documentation about how the search with tags exactly works, apart from the small contextual help (?) icon next to the **Tags** input field in the search bar?

Also, I have experienced that sometimes is seems possible to get results for Span logs when entering something in the Tags field, and sometimes

[2021-03-29 19:19] Joyce-O commented on #663
I would like to work on this issue

[2021-03-29 19:35] jpkrohling commented on #663
It's yours!

[2021-03-30 20:17] jpkrohling commented on #683
Its yours!

[2021-03-31 06:53] Danafrid commented on #683
Hi @meenal06, here is the file with the detailed UI design for this issue -
https://www.figma.com/file/GHuXn2IYWdSjYvYnFLkPeh/Jaeger-UI-Search?node-id=0%3A1

[2021-03-31 18:33] nikclayton-dfinity opened #721 "Feature request: Treat different `service.instance.id` the same as different `service.name` when viewing a trace"
## Requirement - what kind of business use case are you trying to solve?

The current trace view does a great job when a trace spans multiple distinct services. The spans are clearly delineated by colour so you can which span is associated with which service.

However, it's possible to have a service architecture where different members of the service are communicating amongst themselves as well a

[2021-04-01 10:49] nikclayton-dfinity commented on #721
I'm working on a PR for this.

[2021-04-02 10:01] nikclayton-dfinity commented on #721
https://github.com/jaegertracing/jaeger-ui/pull/722

[2021-04-03 12:34] meenal06 commented on #683
Hi @jpkrohling , I have edited the layout according to the sigma designs however there are several complication with using dragNdrop inscribed under the SearchForm of which one major is that with every click in the search form antd would perform two tasks one of taking input and other of opening the file-upload which is the default method added into the dragger widget.
However the following can wo

[2021-04-06 10:02] meenal06 commented on #708
Hi @jpkrohling , I have been planning on the tests and have prepared a plan of approach for testing:
- I have been thinking to use cypress tool due to its performance, ease of maintainers and wide community support.
- I have seen used Jaeger myself and I think rather than unit tests we should focus on integration tests for each functionality and e2e tests from any tutorial/session through cypress.

[2021-04-06 11:10] meenal06 commented on #589
Hi @jpkrohling , is this issue still open to work? I can see a PR merged and addressing the following issue.

[2021-04-06 11:43] jpkrohling commented on #708
I don't know anything about Cypress, would you mind joining our weekly meeting and do a quick presentation about it? A quick demo should be sufficient to start a discussion.

[2021-04-06 11:44] meenal06 commented on #708
Sure, I would be happy to! Where can I find the invite?

On Tue, 6 Apr, 2021, 17:13 Juraci Paixão Kröhling, ***@***.***>
wrote:

[2021-04-06 11:48] jpkrohling commented on #708
You can find more information here: https://www.jaegertracing.io/get-in-touch/

Which time would suit you better, this week's or next week's?

[2021-04-06 11:50] jpkrohling commented on #589
I think this has been fixed. I'm closing this, as I haven't seen any reports of this lately.

[2021-04-06 11:50] #589 closed

[2021-04-06 11:52] jpkrohling commented on #683
Click to upload sounds fine to me, but perhaps @rubenvp8510 has a different idea?

[2021-04-06 11:55] jpkrohling opened #725 "Check what's needed to update react-router-dom from 4.3.1 to 5.2.0"
dependabot opened the PR #694 bumping react-router-dom from 4.3.1 to 5.2.0 but looks like the update requires some manual changes and testing. This issue is about doing the update to the latest react-router-dom version, including all the necessary changes in the consuming code.

[2021-04-06 12:19] Aaishpra commented on #651
Hey, @yurishkuro I am an outreachy applicant can I try this up?

[2021-04-06 15:01] meenal06 commented on #725
Hi @jpkrohling , can I work on this?

[2021-04-06 15:03] meenal06 commented on #708
How about next week? I can also setup a basic test for jaeger-ui to show as a demo for next week with cypress.

[2021-04-06 15:04] rubenvp8510 commented on #683
Due the limitations I see, I think click to upload sounds like a good approach, or may be delimit the area of dragNdrop to no overlap with the form could work for this case?

[2021-04-06 15:16] yurishkuro commented on #725
@meenal06 go ahead

[2021-04-06 15:18] meenal06 commented on #683
Yes the later is achievable I hope so!

[2021-04-06 15:40] rubenvp8510 commented on #683
For now it's ok with the click approach, we might want to think about the dragNdrop region later :)

[2021-04-06 15:59] yurishkuro commented on #651
@Aaishpra sure. Only thing is I don't really have a good sense of the complexity here, so `good first issue` label might be a bit optimistic.

[2021-04-06 17:39] adithyaakrishna commented on #718
@zhangcan12138 I didn't face any error while running the app, could you please check , also do pull the recent changes and run the app

[2021-04-06 17:40] adithyaakrishna commented on #717
@vijayvishnu Could you provide a description regarding the same?

[2021-04-06 18:47] yurishkuro commented on #718
I am closing this as there's not enough details what OS, versions, commands, etc. are being run. Since we have CI running successfully, this is most likely an environment issue.

[2021-04-06 18:47] #718 closed

[2021-04-06 20:49] #683 closed

[2021-04-07 08:58] jpkrohling commented on #708
Sure, sounds good to me!

[2021-04-07 09:58] vijayvishnu commented on #717
I am using angular 1.x web application, which I need to integrate this jaeger UI component alone and show the traces page within my client.

[2021-04-08 11:28] yoave23 opened #729 "improve the UX and discoverability of the link patterns"
## Requirement - what kind of business use case are you trying to solve?
provide help for creating new link patterns for tags, services, and logs

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, there's no indication for users on how to create link patterns in the app

## Proposal - what do you suggest to solve the problem or improve the existing situation?
We'd lik

[2021-04-08 20:36] meenal06 opened #731 "[bug] Navbar overlapping and css overflow in deep dependency section"
## Current Behaviour

The deep dependency graph section overlaps and cutout the navigation bar when scrolled

## Expected Behaviour

Remove the css overflow and intersection of nav-bar

## Screenshot
<img width="1370" alt="Screenshot 2021-04-09 at 2 03 33 AM" src="https://user-images.githubusercontent.com/79007582/114092978-29686f00-98d8-11eb-8834-28235c1f9457.png">

[2021-04-08 20:37] meenal06 commented on #731
Hi @yurishkuro can you please assign me this issue?

[2021-04-12 08:13] jpkrohling commented on #669
@ab-pm sorry for not picking this up sooner. Do you have a trace JSON that can be used to reproduce this problem?

[2021-04-12 08:15] jpkrohling commented on #660
I'm marking this as a good first issue given that we have a related issue serving as guide, but feel free to remove the label if you think it's not the case.

[2021-04-12 08:27] jpkrohling commented on #642
I'm closing this one here as it seems that it has been fxed. Feel free to reopen if it's still happening.

[2021-04-12 08:27] #642 closed

[2021-04-13 04:01] albertteoh commented on #729
@yoave23 how will the reference links be provided and how will users enable the info link for the service names, span tags and logs?

[2021-04-13 06:21] singh-kamal opened #733 "Override the display in System Architecture->DAG"
## Requirement - what kind of business use case are you trying to solve?

For System Architecture->DAG
Change the color of the connector between two nodes in the DAG based on type of connection.
for eg if node 1 communicates to node 2 using a remote procedure call then the connection should be orange in color
for eg if node 1 communicates to node 2 using an event then the connection should be gree

[2021-04-13 14:20] yoave23 commented on #729
@albertteoh the reference links will be provided via the ui-config. We'd like to achieve this by:
- adding an **optional** default link action (either a URL to the documentation or a js function) to the [link pattern](https://www.jaegertracing.io/docs/1.22/frontend-ui/#link-patterns) config
- generate either a link or a button in jaeger-ui to support it

[2021-04-13 15:12] roli25 commented on #686
Can I work on this?

[2021-04-13 17:38] yurishkuro commented on #686
@roli25 got for it

[2021-04-14 05:02] #725 closed

[2021-04-14 09:44] albertteoh commented on #729
Thanks @yoave23. I'd like to summarise to make sure I understand the user experience.

The motivation for this issue is to make users aware of the link pattern functionality via an "info" hint button that appears when mousing over a tag (or log, etc.) as default behaviour on every field of a span.

Clicking on this will open up the [link pattern](https://www.jaegertracing.io/docs/1.22/frontend-ui/

[2021-04-15 07:40] yoave23 commented on #729
@albertteoh correct, couldn't describe it better myself :)

[2021-04-15 07:54] albertteoh opened #736 ""Monitor" tab for health metrics"
## Requirement - what kind of business use case are you trying to solve?
The main proposal is documented in: https://github.com/jaegertracing/jaeger/issues/2736.

The motivation is to help identify interesting traces (high qps, slow or erroneous) without knowing the service or operations up-front.

Use cases include:
- Post deployment sanity checks across the org, or on known dependent services in

[2021-04-15 10:40] albertteoh commented on #729
Okay, this proposal sounds fine to me.

I don't know what other folks think about having the default behaviour of span mouseovers changed to always show an "info" button, but I think improving awareness of the link pattern feature is a positive change in behaviour.

[2021-04-15 16:28] jkowall opened #737 "[MEETING] - Roadmap Discussion April 22nd 11am ET for 60 Minutes"
**Please join the community on April 22nd at 11am ET for a 60 minute meeting on the standard zoom link:**
https://zoom.us/j/96017839550?pwd=eStaZE1DSjVhUnJwak1mSUwrQ0Y3Zz09

The following document tracks ideas from the current roadmap page and what we'd like to add/discuss, so please add yours in:
https://docs.google.com/document/d/1BxQQk2FGL-HRna_p7pKO44py1nIrWcPfPst_cbO7rYw/edit#

[2021-04-19 16:14] Leena1666 commented on #600
can I work on this issue?

[2021-04-20 06:27] albertteoh commented on #600
@Leena1666 it's yours!

[2021-04-20 09:35] yoave23 commented on #729
@yurishkuro any thoughts?

[2021-04-20 16:36] yurishkuro commented on #729
sounds great

[2021-04-20 17:22] mehta-ankit opened #744 "Allow selection of finer time intervals (up to the millisecond or microsecond) on Jaeger UI"
## Requirement - what kind of business use case are you trying to solve?
On the UI when selecting custom date range, I'd like to be able to select finer time intervals to query between, down to the second or millisecond or even microsecond.
There were 1000s of errors and I wanted to find the trace of the first one. They all happened within one minute so that either meant doing a very very large qu

[2021-04-20 17:31] yurishkuro commented on #744
I am not against supporting this in theory, but the UI change needs to be done in a such a way as to not make the more standard workflow more complicated.

[2021-04-21 08:03] yoave23 commented on #729
cool, I'm on it

[2021-04-23 22:51] yurishkuro commented on #736
@albertteoh maybe we should move this to the main repo since it spans frontend and backend work.

[2021-04-23 22:52] yurishkuro commented on #736
or at least we should have a master ticket in the main repo

[2021-04-24 04:39] albertteoh commented on #736
Yup sure, I'll move this to the main repo as suggested, and will make this the master ticket as well, since this issue will drive the requirements for UI and backend work.

[2021-04-24 04:56] albertteoh commented on #736
Closing in favour of master ticket: https://github.com/jaegertracing/jaeger/issues/2954

[2021-04-24 04:56] #736 closed

[2021-04-26 18:13] mckornfield opened #746 "Allow not specifying the key for link patterns"
## Requirement - what kind of business use case are you trying to solve?

* Allowing a user to configure a link pattern for all links patterns of a certain type to allow easy filtering, e.g. for all link patterns of type tag, add a quick filter:
[code]

## Problem - what in Jaeger blocks you from solving the requirement?

The fact that the key field is required for Link Patterns

## Proposal - wha

[2021-04-26 19:55] yurishkuro commented on #746
Is the search via Jaeger UI by the given tag the intended use case? Is that the only use case? Because then it might be better to hardcode this, e.g. show a magnifying class icon on hover and leave the link patterns for their original deep linking purposes.

[2021-04-26 21:26] albertteoh commented on #746
cc @yoave23

[2021-04-27 05:10] mckornfield commented on #746
That's the main usecase @yurishkuro , agreed hard-coding might be a better solution. One other maybe useful thing would be if you wanted to also cross reference with another tag, like a process tag while templating (not sure if that's possible now)

[2021-04-27 11:35] #737 closed

[2021-04-27 16:09] cptkng23 commented on #663
Hi @Joyce-O

I was wondering if you made some progress with this feature? I can offer to have a look at your approach and/or do a review.

Best, Arne

[2021-05-03 12:39] ampaire commented on #731
Hello, @yurishkuro has this issue been worked on?

[2021-05-03 12:42] meenal06 commented on #731
Hi, I didnt get time to complete it and I have my exams this week. Please
go ahead if you want to work on it.

On Mon, 3 May, 2021, 18:09 Phemia Ampaire, ***@***.***> wrote:

[2021-05-03 12:44] ampaire commented on #660
Hello @jpkrohling, I would like to work on this

[2021-05-03 14:12] jpkrohling commented on #660
Sure, go ahead!

[2021-05-07 20:51] gdexlab commented on #242
+ 1 for this issue ☝️ The diagram is a data overload with micro services.

I've experimented with filtering down to just the immediate dependents for a service (the services that call the target service, and the services called by the target service). I find that view to be useful. It would also be nice to allow the user to specify how many layers of calls to display.

[2021-05-07 22:44] albertteoh commented on #242
@gdexlab does the Deep Dependency Graph satisfy your requirement? https://www.jaegertracing.io/docs/1.22/features/#deep-dependency-graph

<img width="1242" alt="Screen Shot 2021-05-08 at 8 43 39 am" src="https://user-images.githubusercontent.com/26584478/117515403-85a6d780-afd9-11eb-8ab4-3f75838ed602.png">

[2021-05-12 18:36] gdexlab commented on #242
@albertteoh That is excellent! I did not realize this view existed. Thanks for sharing.

The UI is exactly what I was looking for, but I'd love to see the dependencies computed from all traces, not just the currently selected trace. It sounds like that is already in progress?

Any idea on the status of that future Flink job, and what work needs to be done there? I came across this repo, but it has

[2021-05-13 00:37] albertteoh commented on #242
I believe it was implemented at Uber, but not sure if there were plans to open-source it and what the status is with it.

@yurishkuro or @vprithvi might know?

[2021-05-13 15:08] th3M1ke opened #753 "Create a route and basic view for the monitor tab"
## Requirement - what kind of business use case are you trying to solve?

Create a user interface to identify interesting traces (high qps, slow or erroneous) without knowing the service or operations up-front.

## Problem - what in Jaeger blocks you from solving the requirement?

Allow user to see "interesting" places in traces

## Proposal - what do you suggest to solve the problem or improve th

[2021-05-13 15:09] th3M1ke commented on #753
@yurishkuro @albertteoh If you don't mind I will start with this one. If no, can you assign it to me?

[2021-05-14 20:13] gdexlab commented on #242
It looks like the spark dependencies project (https://github.com/jaegertracing/spark-dependencies) is more production ready, and may perform similar actions to the Flink project, but hasn't been set up for the deep dependency graph yet. I may continue this discussion over there, unless anyone else has input.

Thanks again for the help, @albertteoh!

[2021-05-19 13:28] orihomie opened #756 "Setting aliases for jaeger DDD objects"
Hi, I'd like to know is there any option to set aliases for objects in that diagram or group them somehow into one object, since on my own diagram I see my service duplicated with 2 names
Company.MuchUsed.Service - service's original name
company-muchused-service - service's kubernetes name

This complicates things when you want to know true sight of your company's services map.

[2021-05-19 15:49] yurishkuro commented on #756
There's no functionality like that right now.

What is preventing you from converging on a single name in your infra?

[2021-05-20 08:25] orihomie commented on #756
Requirements for naming of .net services and requirements on service naming in k8s charts differ.

[2021-05-20 12:17] leroy-chen commented on #519
@ThaoTrann @danigiac the `/src/components/SearchTracePage/SearchResults/react-vis.css` file is a link file in linux. on windows ,it will become a common file ,its file content is the target in linux. you can try to copy and rename the target file to react-vis.css after `yarn install`.
`cd /src/components/SearchTracePage/SearchResults/`
`cp ../../../../../../node_modules/react-vis/dist/style.css re

[2021-05-20 14:22] yurishkuro commented on #756
Whose requirements? You're in control of the name passed to Jaeger SDK. I assume k8s name is available as env var, you can pass it to the SDK.

[2021-05-21 14:56] mikheyrojo opened #757 "Jaeger-ui dependency graph"
Hi, I wanted to ask a question, and suggested chat link doesn't let me in https://cloud-native.slack.com/archives/CGG7NFUJ3

So my question -> does Jaeger have anything similar to Zipkin dependency graph? Like this:
![zipkin deps](https://pbs.twimg.com/media/EIP4NiqWoAELIp0?format=jpg&name=large "Zipkin deps")

[2021-05-21 15:22] yurishkuro commented on #757
Where is it suggested?

[2021-05-21 16:11] mikheyrojo commented on #757
when you open an issue - this is like a draft for it

[2021-05-22 15:56] ignatandrei commented on #336
Any progress on this ?

[2021-05-24 14:57] mikheyrojo commented on #757
so, is there any similar graphs? or is it in plans?

[2021-05-24 17:05] yurishkuro commented on #757
Jaeger supports two types of topology graphs https://www.jaegertracing.io/docs/1.22/features/#topology-graphs

If you're interested in specific features, please describe them. The screenshot from zipkin doesn't tell me anything about what you're after.

[2021-05-25 09:04] mikheyrojo commented on #757
Yuri hi, can I know how can I switch on SystemArchitecture tab? do I need `spark-dependencies` for that? currently my setup doesn't have it

[2021-05-25 13:47] yurishkuro commented on #757
You can play with all-in-one which stores traces in memory and can render graph directly. For real prod installation with remote storage you will need the spark job.

[2021-05-29 12:47] #757 closed

[2021-06-01 06:55] tejaswiniVadlamudi commented on #171
Is it correct to define empty tag values like **reason:""**? Is it a good instrumentation practice?

[2021-06-05 15:39] skydoctor commented on #180
Wondering if there are any known ways to search across all services? This would be especially useful when searching for error tags to quickly highlight any traces which have errors.

[2021-06-18 14:40] SaintDubious opened #771 "The FOLLOWS_FROM arrows in TraceGraph is no longer dotted"
**Describe the bug**
When I view a Trace in the Trace Graph, the arrows between CHILD_OF and FOLLOWS_FROM Spans look the same. According to the docs (and old screen captures I've found) the FOLLOWS_FROM should be a dotted line, whereas CHILD_OF should be a solid line. In my view all lines are solid

**To Reproduce**
Steps to reproduce the behavior:
1. Find a Trace that has both CHILD_OF and FOLLOW

[2021-06-18 15:44] yurishkuro commented on #771
which diocs?

[2021-06-18 15:53] SaintDubious commented on #771
When you're in the "Trace Graph" view there is a "?" icon on the right (above the S, T, and ST icons). Pressing that will bring up a "Help" panel that shows how the ChildOf and FollowsFrom lines should appear.

[2021-06-25 11:25] sbulic commented on #636
I can also confirm that introducing the flag **--es.max-span-age** and setting it to be equal to the retention period of the span indexes (on the ES side) has solved the issue for us as well.

[2021-07-02 08:23] plajjan opened #777 "Support timezone conversion in Jaeger UI"
It seems to me that UTC is selected for on the wire representation of time as well as in the database (https://github.com/jaegertracing/jaeger/pull/712), which sort of makes sense, at least with a somewhat naive handling of timezones. However, I think that the Jaeger UI should support displaying times in the timezone local to the user, i.e. of the browser as to reduce the mental load when viewing

[2021-07-02 08:24] jpkrohling commented on #777
I think this makes sense, as long as it's clearly labeled which timezone is being used.

[2021-07-04 08:41] Folyd opened #779 "The trace detail page's back button is disappeared"
**Describe the bug**
The back button in the trace detail page is disappeared for the latest master branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Git pull the latest master branch
2. Run `yarn start`
3. Open the browser.

**Expected behavior**

The back button should be displayed.

Here is the master branch version:
**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-07-04 08:52] Folyd commented on #779
After refresh in the trace detail page, such as http://localhost:3000/trace/{trace_id}, the back button appeared again.

[2021-07-07 05:50] stardotcode commented on #731
I was able to repro this issue.

* the overlap happens when the window height is less than 680px
* the fixed page header element (`Page--topNav`) has `z-index: 3` ([Page.css:Line22](https://github.com/jaegertracing/jaeger-ui/blob/master/packages/jaeger-ui/src/components/App/Page.css#L22)), however the Deep Dependencies header element (`DdgHeader`) has `z-index: 10` ([index.css:Line25](https://gith

[2021-07-08 02:06] #731 closed

[2021-07-08 21:49] SaintDubious opened #784 "The ability to limit the System Architecture"
## Requirement - what kind of business use case are you trying to solve?

We'd like to be able to visualize service dependencies for a system with a *lot* of services (in the 10k range)

## Problem - what in Jaeger blocks you from solving the requirement?

The existing System Architecture tab provides a nice view, but there's no way to limit or filter the results. It seems aimed at showing ALL of

[2021-07-09 07:05] jpkrohling commented on #784
@esnible, I think we touched on this topic some time ago.

@SaintDubious, do you think the backend should filter the services, or could that be done by the UI itself? Loading a JSON with 10k services shouldn't be a big problem.

[2021-07-11 18:06] SaintDubious commented on #784
@jpkrohling I think the backend would have to do it. The communication layer doesn't just respond with services, it responds with service pairs. Worst case if 10k services all talk to each other that's 10k^2 pairs, which would be an awful lot of data to return.

Just for fun I hooked up a minimal test (by putting a `limit` on the underlying db call) of a few thousands services. The results look li

[2021-07-12 12:49] jpkrohling commented on #784
Do you think this would be relevant for the query API, @pavolloffay?

[2021-07-12 12:57] pavolloffay commented on #784
It certainly is a valid requirement and a way to implement it.

[2021-07-28 05:07] #454 closed

[2021-08-03 12:05] oliversalzburg opened #788 "Deep dependency graph only shows "Enter query above""
**Describe the bug**
When I view the deep dependency graph for a trace, the UI only shows the message `Enter query above`.

**To Reproduce**
Steps to reproduce the behavior:
1. From the trace overview, click the **Deep Dependency Graph** button.

**Expected behavior**
Seeing a graph.

**Screenshots**
![image](https://user-images.githubusercontent.com/1658949/128012296-4c2704f3-2779-49c6-ad08-948f2

[2021-08-03 14:14] jpkrohling commented on #788
@rubenvp8510, do you know what's going on here?

[2021-08-04 09:37] cptkng23 commented on #663
Hi @Joyce-O

Just following up on my above comment. Did you make some progress, can I assist you somehow?

[2021-08-04 14:39] ab-pm commented on #669
Here's a stripped-down trace (I cannot post the full traces we collect):
[code]
(I haven't found a way to test whether this made-up trace reproduces the issue, how can I load this into the UI?)

Now when you view the trace statistics and group by "resource.name", then sub-group by "nodeId", it will count 2 under `count`/`1002` and another 2 under `sum`/`1002`, even though there's only one `count`

[2021-08-05 06:36] cater111 opened #794 "yarn 报错 lerna ERR! yarn run prepublishOnly exited 1 in '@jaegertracing/plexus'"
yarn 报错

[4/4] Building fresh packages...
lerna notice cli v3.13.0
lerna info versioning independent
lerna info Executing command in 1 package: "yarn run prepublishOnly"
@jaegertracing/plexus: yarn run v1.22.11
@jaegertracing/plexus: $ $npm_execpath build
@jaegertracing/plexus: '$npm_execpath' �����ڲ����ⲿ���Ҳ���ǿ����еĳ���
@jaegertracing/plexus: ���������ļ���
@jaegertracing/plexus: error Command f

[2021-08-05 11:19] oliversalzburg commented on #788
Just updated to latest jaeger all-in-one with jaeger-ui 1.15.0 and now the message went away.

[2021-08-06 00:41] erlangera commented on #794
windows 不支持命令行里的用环境变量，要修改package.josn文件中scripts里相关命令中的环境变量，直接使用对应的值。
例如jaeger-ui/packages/plexus/package.json中"prepublishOnly": "$npm_execpath build"，$npm_execpath 改为yarn；
 "build": "NODE_ENV=production npm-run-all -ln --serial _tasks/clean/* _tasks/bundle-worker --parallel _tasks/build/**"，NODE_ENV=production去掉要用这个变量的地方直接用值production代替，如"_tasks/build/umd": "webpack --mode $NODE_ENV --config webpa

[2021-08-06 00:55] erlangera commented on #794
Windows does not support the use of environment variables in the command line. You need to modify the environment variables in the relevant commands in the _scripts_ in the _package.josn_ file and use the corresponding values directly.
For example, in _jaeger-ui/packages/plexus/package.json_,
` "prepublishOnly": "$npm_execpath build"`change **$npm_execpath** to **yarn**;
`"build": "NODE_ENV=produc

[2021-08-06 06:41] rubenvp8510 commented on #788
It seems like the results doesn't have enough information to derive the graph. Is it possible to share the tracing results? IIRC there is a way to anonymize the information. I'm interesting in the structure of the traces.

[2021-08-06 10:17] oliversalzburg commented on #788
@rubenvp8510 What would be a good way of sharing those? Just copy the JSON from the API responses?

I'm sure I have a couple that have no confidential information

[2021-08-10 06:21] rubenvp8510 commented on #788
Yes, API responses is good.

[2021-08-10 10:44] dekimsey commented on #733
I came across this ticket when I was thinking about how I'd love to be able to modify or annotate the DAG. In particular, colors, shapes, descriptions, and links. Perhaps as an extension to the `query.ui-config` for supported use-cases or possibly a straight-up injecting Javascript into the UI and letting it hook into the rendering to accomplish this.

[2021-08-11 11:29] andrembpontes commented on #788
Hey! Same issue here!
Thank you in advance for your attention

![2021-08-11_12-14](https://user-images.githubusercontent.com/6452055/129019725-e241f03d-6208-4558-b62b-29bdcdd6a154.png)

I used the HotROD app to generate the traces

I'm attaching 2 json files with the responses of each one of the 2 requests made by the JaegerUI one with limit 50, other with limit 200

Below you can find the cURL re

[2021-08-12 11:12] oliversalzburg opened #800 "Main menu selection does not update"
**Describe the bug**
When you click on **Compare** or **System Architecture**, the view changes accordingly, but **Search** is still highlighted as the selected area.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Jaeger UI
2. Click **Compare** at the top of the view.

**Expected behavior**
**Compare** is highlighted.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-08-26 06:21] RotemKir opened #803 "Searching spans in a trace page doesn't work"
**Describe the bug**
Open a specific trace and enter a span id in the "Find..." textbox does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a trace in jaeger ui.
2. Enter a span id in the "Find..." textbox.
3. The url in the browser is updated with the "uiFind=..." parameter but the relevant span isn't marked or found.
4. Refreshing the screen or navigating to the updated url

[2021-08-28 18:47] #779 closed

[2021-08-29 02:03] albertteoh commented on #486
Thanks for providing those above suggestions, @ndrscodes. They make sense to me, particularly to use ES Rollover because it requires enabling aliases, which will reduce the number of queried indices to a single "read" index.

@billtohara on jaeger-query, you can set the following flag to view the queries being sent to ES: `--es.log-level`.
The full set of available flags for jaeger-query with Elas

[2021-09-01 07:30] RusDenS commented on #645
Hi
We are faced with the same problem. Jaeger UI opening 20 tracers with more than 10,000 spans.
Perhaps there are plans in the search does not transmit trace + Spans and transmit only the list of services. And when you go to the trace, load the full list of spans? This would reduce the search time.

[2021-09-01 10:41] vvvprabhakar opened #806 "customWebAnalytics:: Trying to Implement :: Sending Analytics to my local elasticsearch"
Enabled ```customWebAnalytics: true```

What are the other changes I should do to send analytics to any of minedatasource?

Do I need any functions to be added??
I have an API to send, can I define API somewhere and it will send analytics to that API directly ??

[2021-09-01 14:13] wangpu666 opened #807 "make build-binaries-linux error"
**Describe the bug**

yarn install v1.22.11
[1/4] 🔍  Resolving packages...
warning Resolution field "lodash@4.17.21" is incompatible with requested version "lodash@^3.10.0"
warning Resolution field "lodash@4.17.21" is incompatible with requested version "lodash@^3.10.0"
warning Resolution field "parse5@4.0.0" is incompatible with requested version "parse5@^3.0.1"
success Already up-to-date.
$ lern

[2021-09-01 15:43] vvvprabhakar commented on #807
Did you try

```nvm use```

[2021-09-04 18:09] tndata commented on #788
I got the same issue.

[2021-09-08 07:37] vvvprabhakar commented on #806
Add a `customWebAnalytics` func in default-config file

[2021-09-08 07:37] #806 closed

[2021-09-08 14:33] yurishkuro commented on #806
Was the documentation missing? If so, where we can add it for best impact?

[2021-09-15 16:52] matiasrege commented on #788
I got the same issue on the version:

Jaeger v1.26.0
Commit 8427e01
Build 2021-09-06T18:29:49Z
Jaeger UI v1.16.0

<img width="380" alt="Captura de Pantalla 2021-09-15 a la(s) 13 32 08" src="https://user-images.githubusercontent.com/205297/133476041-6b5ca825-4f8d-46ae-85d5-4aead5f41889.png">

In my case, it happens to me when I select a particular service, and after that it never works again for me

[2021-09-23 04:31] zigmund commented on #788
Same here. Strange behaviour - sometimes it works, but in most cases I get `Enter query above` until I manually add `&view=ddg` to url.

Also got `400 "parameter 'service' is required"` few times.

[2021-09-23 11:27] yoave23 opened #818 "Typescript version is outdated"
## Requirement - what kind of business use case are you trying to solve?

We'd like to upgrade the typescript version from 3.5.3 to the latest one (4.4)

## Problem - what in Jaeger blocks you from solving the requirement?

the current version is missing key features

Related: #998

[2021-09-23 13:54] yurishkuro commented on #818
If you have cycles & expertise, go for it.

[2021-09-23 18:54] yoave23 commented on #818
@yurishkuro sure, we'll take it

[2021-09-29 12:28] zimv opened #821 "TracePage crash in browser"
**Describe the bug**
Some data of interface `[host]/api/traces/:id` response will cause an endless loop, so the trace page that `[host]/trace/:id` will crash in browser. It's here, [https://github.com/jaegertracing/jaeger-ui/blob/v1.16.0/packages/jaeger-ui/src/utils/span-ancestor-ids.tsx#L35](https://github.com/jaegertracing/jaeger-ui/blob/v1.16.0/packages/jaeger-ui/src/utils/span-ancestor-ids.tsx

[2021-09-29 14:20] jkowall commented on #456
IE 11 is end of life in 9 months (June 2022) and Microsoft has moved to Chromium-based Edge. I would suggest we close this out.

[2021-09-29 15:32] #456 closed

[2021-09-29 18:23] jkowall commented on #717
Grafana has embedded Jaeger UI into their UI. I couldn't find the specific PRs which accomplished this but @joe-elliott might be able to shed more light on how they embedded the Jaeger views into Grafana.

[2021-09-29 20:34] jkowall commented on #671
It seems like this was completed, @yurishkuro can you close?

[2021-09-30 12:13] joe-elliott commented on #717
Docs have some info about embedding: https://www.jaegertracing.io/docs/1.26/frontend-ui/#embedded-mode

As to how it was done in Grafana. I have no idea :). Check the code!

[2021-09-30 12:54] yurishkuro commented on #717
I don't think grafana is embedding Jaeger, I think they forked it. In the demos I've seen the ui looked very similar to Jaeger but with a very distinct color scheme that you cannot get just by embedding.

[2021-09-30 17:33] jkowall commented on #744
@mehta-ankit Is there an example you can provide that shows this is feasible without adding complexity? I haven't seen a UI where you can go down to specifying microseconds. You likely should be doing more filtering if you need that level of granularity IMO.

[2021-09-30 17:34] jkowall commented on #756
Seems stale since your explanation was accurate @yurishkuro

Alternately autoinstrumentation should be passing these into the trace tags.

[2021-09-30 17:40] jkowall commented on #704
I think you can close this out @yurishkuro

[2021-09-30 17:47] jkowall commented on #686
The use of tracing for long-running transactions or processes is just not a good use case. It causes a lot of issues around sampling and analyzing the data when transactions span hours or even days. I would suggest using logging systems versus tracing systems for this type of use case. There were companies that tried to solve this issue for APM but they generally end up using a lot of aggregation

[2021-09-30 20:00] calohmn commented on #744
(Not affiliated with the author of this issue, so this is just another opinion.)
Concerning the UI: In Kibana/OpenSearch, the start/end date of a search for log entries can be specified with millisecond granularity (the date/time chooser fills a textfield with e.g. "Sep 23, 2021 @ 10:00:00.000" and you can edit the text field content to set the seconds/milliseconds). In the Jaeger UI, the time fie

[2021-09-30 20:31] #690 closed

[2021-09-30 20:32] #689 closed

[2021-09-30 20:33] #590 closed

[2021-10-01 02:23] #704 closed

[2021-10-01 02:25] #756 closed

[2021-10-01 12:00] nvx commented on #686
Honestly the main use is just filtering down to the specific operation and looking at that individual component rather than the trace as a whole.

It's useful to be able to see what triggered X to occur, so simply breaking the relationship in the trace loses that.

I haven't kept up with the OpenTelemetry spec, but in OpenTracing land there's both a `ChildOf` relationship, as well as a `FollowsFro

[2021-10-01 15:22] yurishkuro commented on #686
Jaeger UI already supports displaying Span References pointing to other traces, have you tried that? You can just download a JSON of a trace, edit it to point to another trace, and load back into the UI to see how it looks.

To my knowledge, the only effect of using follows-from instead of child-of in Jaeger is that the clock skew adjustment will not be performed on follows-from (although still mi

[2021-10-01 17:25] Sushisource commented on #662
Any update on this? I ran into this today and traces that are linked together are pretty much useless because there's no way to see which spans follow from the span you're looking at, only backlinks are represented in the UI.

Having a unified view of all spans that followed (ideally transitively as well) from some given span is I would suspect a use case that many, many people would care about.

[2021-10-06 15:53] #233 closed

[2021-10-06 16:47] jkowall commented on #268
Seems to be an issue open on this in Jaeger repo so linking it here. https://github.com/jaegertracing/jaeger-ui/issues/268

[2021-10-06 18:04] #444 closed, assigned to nobody

[2021-10-13 12:27] vvvprabhakar opened #832 "Intentional to not have track event for serviceName"
There is no track event for serviceName Change in the search form

Is this intentional

[2021-10-14 16:59] jkowall commented on #246
Feel free to re-open if the ElasticSearch/OpenSearch solution doesn't solve this.

[2021-10-14 16:59] #246 closed

[2021-10-15 00:04] jkowall commented on #261
I think this would create a lot of confusion, you can still search for multiple tags with the current single box which I think is fine. You can also bookmark a URL with a search in it and simply edit after the search is run. I'm going to close this since it doesn't make sense to implement this change, but feel free to re-open this if you disagree.

[2021-10-15 00:18] yurishkuro commented on #261
@jkowall there are 5 upvotes, summarily closing may not be the best approach.

I do agree with you that this feels like a very specific feature that will be a maintenance burden without much benefit. In particular, in a large enough installation/organization who decides which tags should be elevated to such special status?

I can see a different version of this that could be more useful - a histor

[2021-10-15 23:26] yurishkuro commented on #261
Yes, auto-completion is much harder as it requires backend support. The personal history of tags is pretty trivial to implement.

[2021-10-16 04:57] jkowall commented on #261
Thanks for re-opening @yurishkuro and the feedback @albertteoh

There are several tickets on autocompletion, do we want to try to implement that on the backend?

Most browsers keep a form history and ranking for auto-complete these days, and we can force this on too (https://www.w3schools.com/tags/att_input_autocomplete.asp). I think that would meet the needs for this feature. If you want to store

[2021-10-16 09:52] albertteoh commented on #261
Yeah, exactly, because it would be a non-trivial task to introduce server-side user sessions.

I'd imagine this feature would only keep history for the user during their active session and perhaps persisting this information between sessions via cookies, but I don't know how feasible the latter would be.

[2021-10-16 13:09] yurishkuro commented on #261
I don't think auto-completion would work here because it would remember the whole query, and I expect queries to differ while often using similar tags.

Browsers have local storage, I was thinking of that rather than cookies or server side.

[2021-10-16 19:31] yoave23 commented on #261
Do we have an estimation of how much effort this would take? I guess we'll need to implement it for each supported storage.
From my experience, the tags search is a commonly used feature with much room for improvement in terms of UX/UI.

[2021-10-20 11:38] jkowall commented on #261
@yoave23 If we do it client side it shouldn't be too much work I would think.

[2021-10-21 22:30] yurishkuro commented on #443
This is the DDG, which you can get by selecting "view graph" from the search results (although at Uber we had a Flink job that was generating this graph as global, not just for a few traces from search). In that graph we have the ability to pin a specific service and see paths going through it, but not to pin any other services/endpoints. This was the UI design sketch for the latter.

[2021-10-28 03:15] vvvprabhakar opened #840 "Infinite loop while calculating the overlay in traceStatistics"
**Describe the bug**
 Func` onlyOverlay`, Return the selfTime of overlay spans, has a never ending loop

[code]

[2021-11-01 13:35] jkowall commented on #537
Can you please specify how you are calculating the DAG views? Is this utilizing the all in one Jaeger docker image,  Spark, or something else?

[2021-11-01 13:36] #462 closed

[2021-11-01 13:36] #460 closed

[2021-11-02 22:14] #553 closed

[2021-11-02 22:18] jkowall commented on #579
Closing due to stale. I don't really see the issue :)

[2021-11-02 22:18] #579 closed

[2021-11-02 22:40] jkowall commented on #582
I know this issue is quite old, and I was trying to replicate the issue here with the operation names. I'm not seeing this on my Jaeger instances across a few different applications. I'm not sure if this is related to the instrumentation we are using Otel, versus what you might have been using. @romilpunetha can you please post a screenshot showing the issue you are describing?

Thanks

[2021-11-03 23:11] #595 closed

[2021-11-03 23:11] #596 closed

[2021-11-03 23:20] jkowall commented on #620
@taotao365s Can you please explain the issue? You can search for any tag in the search fields, for example, "express.type
middleware"

[2021-11-03 23:22] #630 closed

[2021-11-03 23:23] #636 closed

[2021-11-06 02:14] caizixian opened #847 "Tabular view trace link not respecting base URL"
**Describe the bug**
When running `jaeger-query` with a non-empty `QUERY_BASE_PATH`, the links in the ID column of Trace Tabular View is not respecting the base URL set.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `jaeger-query` with a non-empty `QUERY_BASE_PATH`
2. Click on a trace
3. Choose Trace Spans Table in the drop down menu of the stop bar
4. Click on one of the link in the I

[2021-11-08 07:31] vvvprabhakar commented on #847
@caizixian  Taking this

[2021-11-09 10:51] #582 closed

[2021-11-09 10:52] #537 closed

[2021-11-09 10:52] #620 closed

[2021-11-10 07:44] jkowall commented on #637
Had to chime in here, the time between spans could be several things mentioned here from network latency, encryption, queuing or other intermediaries which may not add spans, or other logical constructs. Additionally it could be cliuent side time between requests which might need JavaScript in the browser to execute, rendering, or other time spent on the client. If anything this should be handled

[2021-11-10 07:44] #637 closed

[2021-11-10 22:29] ndrwrbgs commented on #662
@yurishkuro what conditions make this experience surface?

[2021-11-10 23:28] yurishkuro commented on #662
When a span has span reference pointing to another trace.

[2021-11-11 04:57] caizixian commented on #847
@vvvprabhakar just wondering whether you were meant to tag someone else?

[2021-11-12 00:34] taotao365s commented on #620
I am sorry, we just want more distinguish tag， just like Labels in github

[2021-11-13 06:15] n1ckdm commented on #525
I think this issue should be reopened. Flamegraph support for jaeger would be really useful for some of the systems I'm working with.

This tool takes a JSON dump from jaeger and converts it to be read by FlameGraph:

https://github.com/symbiont-io/jaeger-flamegraph

Might be some clues there for how to handle the overlapping siblings?

I'd be interested in working on a PR for this if there's appe

[2021-11-14 09:20] jkowall commented on #662
Should we close this out now @yurishkuro ?

[2021-11-14 09:23] jkowall commented on #666
Which lib are you thinking, Yoav?

[2021-11-14 09:30] #671 closed

[2021-11-14 09:32] jkowall commented on #620
Sorry I do not understand, you can do the same thing with Jaeger UI already with multiple tags. You want a different "picker" for tags or something else?

[2021-11-14 12:27] jkowall commented on #675
@bobrik any update on this?

[2021-11-14 14:03] yurishkuro commented on #666
I'm fine with ditching that lib, I don't think it's been maintained since written originally for Jaeger. We have a built in module called Plexus that provides rich graph viz, used for DDG. It would be nice to converge all views to it.

[2021-11-14 14:06] yurishkuro commented on #662
Yes, if OP has no further feedback

[2021-11-14 19:35] ndrwrbgs commented on #662
I think there's enough context and +1 provided by others its still an open concern.

It turns out the link ui only shows when the span has more than one link, so in the case of follows from, you'd have to navigate to the child span manually and then it wouldn't have the pictured UI, but would have link inside the expanded view.

I believe OPs point was that there's no link back. I had to manually

[2021-11-16 12:16] #717 closed

[2021-11-16 12:27] jkowall commented on #746
@yurishkuro does #817 fix this issue? If so, we can close.

[2021-11-16 12:39] yurishkuro commented on #746
We should ask the OP, @mckornfield

[2021-11-16 15:00] mckornfield commented on #746
Yep I think it does, I'll close fixed by #817

[2021-11-16 15:00] #746 closed

[2021-11-16 18:17] crobertson-conga commented on #261
Currently I'm evaluating Jaeger to understand how we can use it in my organization.  It would be excellent for new users to have some things already set up for them when they come in.  While a local tag history helps out if you are already using Jaeger, there are some tags that I would like to be able to have the following:

- Make them well known as a general filter.
- Potentially populate those

[2021-11-19 17:14] svalaskevicius commented on #788
still the same, `&view=ddg` helps

[2021-11-19 22:30] bobrik commented on #675
Some feedback in #678 would be nice.

[2021-11-25 20:28] #840 closed

[2021-11-29 00:48] taotao365s commented on #620
something like 'picker'

[2021-11-30 15:01] #803 closed

[2021-12-14 15:22] fatmcgav commented on #633
Just to add, the "double escaping" trick worked for searching a tag value that contains `&` or `:` aswell :+1:

Would be great to not _have_ to escape them though...

[2021-12-15 22:47] richvdh opened #858 "`es.max_doc_count` > 10000 breaks jaeger UI"
**Describe the bug**

When `jaeger-query` is run with  `--es.max_doc_count` set to anything above 10000, the trace search returns no results, and links to individual trace IDs return a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Start `jaeger-query` with `--es.max_doc_count=10001`
2. Search for traces
3. Observe empty results

**Expected behavior**

The same as with `--es.max_doc_co

[2021-12-16 13:49] SapnaGirdhani1 commented on #663
I am also looking for export/download feature for all found traces in json format. Is there any update on this feature? Thanks!

[2022-01-04 11:05] caizixian commented on #847
I created a PR

[2022-01-04 20:48] #847 closed

[2022-01-06 05:42] delanym opened #863 "Firefox support"
The first thing I do each time I open a trace is "collapse all", but as I hover over the button a tooltip pops up obscuring it. I have to hover away, wait for the tooltip to disappear, and then I can click the button.
Its always the first time the tooltip displays - subsequent renderings are placed unobtrusively.

![Screenshot from 2022-01-06 07-34-45](https://user-images.githubusercontent.com/531

[2022-01-06 08:23] piano-man opened #862 "Tag based filtering for traces imported from json files"
## Requirement - what kind of business use case are you trying to solve?
Once I upload traces using JSON files, I am unable to use the tags to filter these traces.

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, the tag-based filtering does not seem to work for traces that have been uploaded using JSON files.

[2022-01-06 10:55] albertteoh commented on #863
Nice, seems like I do 😄 Thanks for the tip, @delanym!

[2022-01-06 12:32] delanym commented on #863
No sweat.
Would also be nice to configure traces to open spans collapsed via --query.ui-config

[2022-01-07 19:23] bobrik opened #864 "Date input is clipped in custom time selection"
**Describe the bug**

Date input is not fully visible (Macbook Pro 13", maximized window):

![image](https://user-images.githubusercontent.com/89186/148595365-6928f8ca-4998-4e42-acb7-905109b18186.png)

**To Reproduce**

Steps to reproduce the behavior:

1. Set date format to ISO8601:

![image](https://user-images.githubusercontent.com/89186/148595433-0b5e9462-da9d-44d1-b9e5-4da88270c91a.png)

2. O

[2022-01-12 07:07] zimv commented on #821
https://github.com/jaegertracing/jaeger-ui/pull/823

I hope it can be solved as soon as possible！

[2022-01-14 11:06] albertteoh commented on #864
Thanks for the proposal @bobrik. I like the fact that date and time are together in one input to save real estate and remove the need to fill out another input just for time.

However, it looks like it's [not supported in IE](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local#browser_compatibility), and perhaps why it was designed that way in Jaeger UI, because the work

[2022-01-14 16:56] bobrik commented on #864
Do we need to care about IE? Microsoft replaced it with Chromium based Edge 7 years ago and new feature development for IE stopped 6 years ago.

[2022-01-14 18:27] yurishkuro commented on #864
I don't have strong opinion on Chromium/IE, but with the current implementation it looks like there is enough space to fit the ISO date, but something is slightly off with the style sheet. So the minimal fix would be to just fix the stylesheet.

[2022-01-14 18:28] yurishkuro commented on #864
btw, I am not digging the s/s of the chromium date picker, it looks very unintuitive - wth are the two right columns?

[2022-01-14 19:46] yurishkuro commented on #864
yes, let's try that first

[2022-01-14 21:30] bobrik commented on #864
#867 takes care of this.

[2022-01-14 22:02] #864 closed

[2022-01-20 12:13] delanym opened #868 "Add an about page"
Please add an about page that gives some basic info like the version number.

[2022-01-20 12:23] delanym opened #869 "Spurious timing on root span"
The root span is overlaid with spurious timings at regular intervals, i.e. 57s, 53s, 50s, 46s.

![image](https://user-images.githubusercontent.com/5310238/150337260-0abcd1c2-1ed2-40c1-a089-cb21dbebb97b.png)

Observed on Firefox 96.0 and Chrome 97.0.4692.71

[2022-01-20 12:28] delanym commented on #863
Also noticed the graph on the search page isn't aligned properly.

![image](https://user-images.githubusercontent.com/5310238/150338695-44421a0d-ca84-4e6a-9b65-ad83f5954bef.png)

Both these issues appear on Firefox but not Chrome.

[2022-01-20 12:48] yurishkuro commented on #868
![image](https://user-images.githubusercontent.com/3523016/150341595-5f2c6927-4bbf-40ad-88ad-959b1d8d6764.png)

[2022-01-20 13:13] delanym commented on #868
@yurishkuro you're obviously not using the example config from https://www.jaegertracing.io/docs/1.30/frontend-ui/ so what config are you using?

[2022-01-20 13:50] delanym commented on #868
Can you rather do what everyone else does and use a config file and mount to overwrite it. Then we can leave out the extra --query.ui-config and you can save on writing documentation?

[2022-01-20 14:03] yurishkuro commented on #868
I'm not using any config, just default all-in-one image.

[2022-01-20 14:07] delanym commented on #868
I'm also using that image, but I'd like to configure something. When I override the config, the version info disappears, because there's no documentation on how to config it and no example to copy from.

[2022-01-20 14:21] yurishkuro commented on #868
I don't think it's possible right now if you override config, since the versions are built into the default config, there's no logic to just append them to whatever the menu is.

https://github.com/jaegertracing/jaeger-ui/blob/72191f11000cb78f7d2508ea6d0c082c46d122b0/packages/jaeger-ui/src/constants/default-config.tsx#L63

[2022-01-23 10:20] PawBud commented on #777
I am new to Jaeger but this does not seem tough, will start working on this.

[2022-01-25 16:12] nofar9792 opened #871 "Monitor Tab: Numbers in the Legend"
**Describe the bug**
Cannot see the whole number in the legend when the number is greather than 1000

**Expected behavior**
See the while number

**Screenshots**
![Screen Shot 2022-01-25 at 16 01 10](https://user-images.githubusercontent.com/11076023/151014788-0d3b465b-1e15-4da1-ba1c-bad5fbc8a085.png)

and i would like to fix it

[2022-02-01 18:39] esnible commented on #871
I don't recall seeing this view in Jaeger UI.  How do I navigate to it?

[2022-02-01 18:44] esnible commented on #869
Can you attach the Trace JSON to this issue so that I can try it?

(Click the "Trace Timeline" dropdown on the upper right, select Trace JSON).

[2022-02-01 19:54] yurishkuro commented on #871
@esnible I assume it's the Monitoring tab introduced here #2954. I don't think the documentation part of this was finished.

[2022-02-03 05:53] delanym commented on #869
[77edb57222c17e45f70edd4732e13bf1.zip](https://github.com/jaegertracing/jaeger-ui/files/7992127/77edb57222c17e45f70edd4732e13bf1.zip)

[2022-02-03 06:02] delanym commented on #869
its the .ub-relative div seconds rolling onto the next line

[2022-02-03 15:57] esnible opened #874 "UI improvements for very large traces"
The following trace is difficult to comprehend in the Jaeger UI
[raw_trace_json_2.json.zip](https://github.com/jaegertracing/jaeger-ui/files/7995972/raw_trace_json_2.json.zip)

To reproduce, unzip the file and use the JSONfile option in the UI to open it.

The trace has a large number of spans.  The first operation name is /graphql so I suspect a graphql server was auto-instrumented, but the graph

[2022-02-04 20:02] yurishkuro opened #877 "Unstable unit test on TraceStatistics/tableValues.tsx"
Based on #876 CI run, the code coverage came up with a change, even though no source code changes were made.

There as places with coverage changes in packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.tsx:

![image](https://user-images.githubusercontent.com/3523016/152595512-1e86afd5-9b2b-4090-930e-c8abc7bd94f7.png)
![image](https://user-images.githubusercontent.com/3523016/1

[2022-02-09 06:42] yaojingguo commented on #381
https://github.com/jaegertracing/jaeger/blob/96026e68a9111accdb7b20e5307507e642ce9549/model/json/fixture.json is fixture.json at the master branch. It can't be imported with `JSON file`.

<img width="399" alt="截屏2022-02-09 下午2 39 56" src="https://user-images.githubusercontent.com/516386/153135717-f0c55385-41a9-4524-b1f7-5ab3ecf03549.png">

But the JSON file given in https://github.com/jaegertracin

[2022-02-09 11:59] albertteoh opened #879 "Monitor Tab: Reduce ratePer window"
## Requirement - what kind of business use case are you trying to solve?

Reduce confusion in per-second request/error rates in graphs.

## Problem - what in Jaeger blocks you from solving the requirement?

The rate duration defaults to `1 hr` which can result in quite low rates (e.g. 0.013 requests/sec), which can be confusing.

## Proposal - what do you suggest to solve the problem or improve th

[2022-02-15 15:48] nofar9792 opened #882 "Monitor Tab - The x-axis timeframe should be according to the selected timeframe"
**Describe the bug**
When the user doesn't have data for all the selected timeframe, the a-axis domain doesn't show the whole timeframe points.
react-vis automatically interpolates across the relevant domains of the data

**Expected behavior**
show all the timeframe

**Screenshots**

https://user-images.githubusercontent.com/11076023/154097286-1d39fea1-140a-462d-a55f-be048ffa6233.mov

I would like

[2022-02-15 22:34] spjspjspj opened #883 "Is it possible to merge the admin port with query.port?"
We run jaeger query server behind a proxy, which allows us to export only one port.

Thus, we cannot access the admin port for health check.

Is it possible to combine these two ports?
Or make health check available on query.port?

Thanks

[2022-02-15 22:44] yurishkuro commented on #883
We do not plan to support sharing the port. It is not recommended from security point of view.

[2022-02-16 01:37] spjspjspj commented on #883
Thanks. Then is it possible to add a health check endpoint on query.port?

[2022-02-16 15:23] nofar9792 commented on #882
Can I open a PR for this bug?

[2022-02-16 16:29] yurishkuro commented on #882
+1

[2022-02-19 01:42] #879 closed

[2022-02-20 16:01] nofar9792 opened #887 "Monitor Tab - Crosshair Color is too light"
## Problem - what in Jaeger blocks you from solving the requirement?
It's hard to see the text, this gray is too. light
![image](https://user-images.githubusercontent.com/11076023/154851757-cc876ab9-c4a6-4c7a-9b0a-1c5941bcf20f.png)

## Proposal - what do you suggest to solve the problem or improve the existing situation?
darker gray

I would like to fix it

[2022-02-21 19:42] #887 closed

[2022-02-22 23:56] #882 closed

[2022-02-23 13:19] nofar9792 opened #889 "Monitor Tab - Request rate number more readable"
## Requirement - what kind of business use case are you trying to solve?
Truncate request rate number to two decimal places:
![Screen Shot 2022-01-25 at 16 13 00](https://user-images.githubusercontent.com/11076023/155326369-ef35ebdc-54c6-411b-b52b-73bb2f86eda6.png)

Request rate that is lower than 0.1 can be written as "< 0.1"
![Screen Shot 2022-01-25 at 16 07 35](https://user-images.githubusercon

[2022-02-23 19:21] PawBud commented on #600
I am aware that this issue has already been assigned, but I did it nevertheless given that it was assigned almost 6 months ago. Do let me know if I should close my PR.

[2022-02-24 13:41] nofar9792 opened #892 "Monitor Tab - show 95 Latency in a more readable time-unit"
## Requirement - what kind of business use case are you trying to solve?

## Problem - what in Jaeger blocks you from solving the requirement?
In other places on this page, we show the latencies in a readable time unit.
We should do it too in P95 Latency
![Screen Shot 2022-01-25 at 16 09 10](https://user-images.githubusercontent.com/11076023/155535064-a25b7cc6-7b4d-46bb-bff0-8f0ce127068d.png)

##

[2022-02-24 14:08] nofar9792 opened #894 "Monitor Tab - Error rate value should be 0-100 value and not 0-1"
**Describe the bug**
we get error values between 0-1.
for example:
![image](https://user-images.githubusercontent.com/11076023/155539105-e930065f-a4f1-4840-859e-0eafd0989077.png)

and then we show a wrong error rate:
![image](https://user-images.githubusercontent.com/11076023/155539225-26e66dda-4ff5-4d5d-adb4-3103bb5c30ec.png)

same here:
![image](https://user-images.githubusercontent.com/11076023

[2022-02-27 14:11] nofar9792 opened #897 "Monitor Tab: Cannot choose another timeframe"
**Describe the bug**
Cannot choose another timeframe

**To Reproduce**
Steps to reproduce the behavior:
1. Choose timeframe in monitor tab
2.Choose another timeframe in monitor tab

**Expected behavior**
See the chosen timeframe

**Screenshots**

https://user-images.githubusercontent.com/11076023/155885867-93aaed88-830d-46d8-a03e-fc8daea2f8df.mov

I'll fix it

[2022-02-28 14:18] #889 closed

[2022-02-28 14:54] #892 closed

[2022-02-28 19:11] #894 closed

[2022-03-01 21:07] #871 closed

[2022-03-04 11:47] #832 closed

[2022-03-05 22:06] albertteoh opened #904 "Replace existing get-changelog.js with release-notes.py"
## Requirement - what kind of business use case are you trying to solve?

Generate changelog notes for a Jaeger UI release.

## Problem - what in Jaeger blocks you from solving the requirement?

Tried following instructions in https://github.com/jaegertracing/jaeger-ui/blob/main/RELEASE.md which suggests using [get-changelog.js](https://github.com/jaegertracing/jaeger-ui/blob/52780c897f21131472de9

[2022-03-06 02:30] albertteoh commented on #904
The simplest approach is to copy the [release-notes.py](https://github.com/jaegertracing/jaeger/blob/main/scripts/release-notes.py) script from jaegertracing/jaeger.

The trade-off is that this could get out of sync with jaegertracing/jaeger's version, so a potential alternative is to explore a file-sync mechanism and maintaining jaegertracing/jaeger's script as the canonical version: https://gith

[2022-03-10 12:23] nofar9792 opened #907 "New look for monitor tab empty state + make page configurable"
## Requirement - what kind of business use case are you trying to solve?
We want to make the page configurable, so we will be able to deliver different messaging.
For example, in our use case, we want to navigate to our custom documentation and also show different messaging to different user roles.

We wanted to create a flexible framework that will allow us as well as other users to customize the

[2022-03-10 22:01] nofar9792 opened #908 "Monitor Tab - Error rate graph in operation table is always a straight line"
**Describe the bug**
The graph is always a straight line, we can't see the values

**Expected behavior**
The values should affect the graph

**Screenshots**
The bug:
<img width="178" alt="Screen Shot 2022-03-10 at 23 49 42" src="https://user-images.githubusercontent.com/11076023/157762020-fa8ebf95-4685-472d-ac4b-a37c89898977.png">

How it's supposed to look:
<img width="194" alt="Screen Shot 2022-

[2022-03-10 22:15] nofar9792 opened #910 "Monitor Tab - Truncate request rate and P95 latency numbers to two decimal places"
**Describe the bug**
The request rate and P95 latency are sometimes not readable

**Expected behavior**
Truncate request rate and P95 latency numbers to two decimal places

**Screenshots**
![image](https://user-images.githubusercontent.com/11076023/157763876-836a952e-737d-4a24-9e87-5c15a005d92f.png)
![image](https://user-images.githubusercontent.com/11076023/157763901-8214f007-f01c-447c-a8d5-012d9

[2022-03-13 10:16] nofar9792 commented on #907
@yurishkuro @albertteoh WDYT?

[2022-03-13 17:49] yurishkuro commented on #907
+1

[2022-03-13 19:50] nofar9792 commented on #908
@yurishkuro ?

[2022-03-13 19:51] nofar9792 commented on #910
@yurishkuro ?

[2022-03-14 11:08] albertteoh commented on #907
+1 Looks great!

FWIW, I'm working on documentation now: https://github.com/jaegertracing/documentation/pull/556.

Your comments/feedback would be welcome to ensure we're on the same page, especially around terminology.

[2022-03-14 11:10] #908 closed

[2022-03-14 16:25] ColinBradley commented on #525
FWIW, I'd really like this feature too.
Datadog and Raygun both have flame graph esk views and they are incredibly helpful.

The sibling overlapping issue is a small edge case you can handle by just putting them on different rows. It's fine - parallel work is just messy.

Basically the entire logic is that spans should go on a new row if there is no room on a preceding row and never going higher t

[2022-03-14 17:42] #910 closed

[2022-03-15 15:29] nofar9792 opened #912 "Monitor Tab - error rates - yDomain"
**Describe the bug**
I accidentally changed the ```yDomain``` of the wrong error graph here: https://github.com/jaegertracing/jaeger-ui/issues/908

this is the bug: (the y domain is 0-1 and not 0-100)
![image](https://user-images.githubusercontent.com/11076023/158413069-471d7c1e-154c-4ce7-b73f-f5e6641e8a16.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/11076023/1584

[2022-03-29 19:06] yurishkuro commented on #296
@bobrik @tiffon no longer has time to work on this, and we don't have anyone else. I agree this is a useful feature.

[2022-04-03 16:47] #907 closed

[2022-04-05 12:16] albertteoh opened #920 "Trace Search: setting operation query param not populating menu item"
**Describe the bug**
Setting the operation query parameter to the trace search URL does not populate operation menu item.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd docker-compose/monitor`
2. `docker-compose up`
3. Open browser to http://localhost:16686
4. Open the Monitor tab
5. Select a service
6. Mouse over an operation then click on "View traces"
7. A new browser tab should open

[2022-04-12 03:40] Jaskerv opened #925 "Highlight services that has error in trace list view"
## Requirement - what kind of business use case are you trying to solve?

Highlight the service tag that has an error in the trace list view.

## Problem - what in Jaeger blocks you from solving the requirement?

![image](https://user-images.githubusercontent.com/26532014/162875522-60c861de-d57a-42f8-af7b-8f554a045c6c.png)

When in the trace list view, it currently shows how many errors exist in t

[2022-04-12 04:37] yurishkuro commented on #925
Good idea

[2022-04-13 08:16] FingerLiu opened #928 "instructions notify in Monitor Tab is undefined"
**Describe the bug**
Link in "No data yet! Please see these[ instructions ](http://undefined/)on how to set up your span metrics." is undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. upgrade ui to 1.22
2. switch to monitor tab
3. click instructions on the top

**Expected behavior**
A link to instructions to setup otel

**Screenshots**
![image](https://user-images.githubusercontent.

[2022-04-13 09:37] FloydJohn commented on #928
On my deployment the link targets `https//www.jaegertracing.io/docs/latest/spm/` (notice the lack of `:` between `https` and `//`).

The issue is related to react router treating this link as an internal one, I just opened a PR to fix this behaviour.

[2022-04-13 11:35] #928 closed

[2022-04-13 12:30] #925 closed

[2022-04-16 15:37] #920 closed

[2022-04-19 08:20] zdyj3170101136 opened #933 "null metricdata in request monitor graph"
**Describe the bug**
only service request rate graph not have data in monitor page.

**To Reproduce**
Steps to reproduce the behavior:
1. run jaeger/docker-compose/monitor/docker-compose.yml

**Expected behavior**
service request graph show data in monitor page.
just like other graph.

**Screenshots**
<img width="334" alt="截屏2022-04-19 下午4 12 52" src="https://user-images.githubusercontent.com/5268

[2022-04-19 10:28] nofar9792 commented on #933
Hi,
i'm going to fix it

[2022-04-19 14:01] #933 closed

[2022-04-20 04:26] zdyj3170101136 opened #935 "systemArchitecture/filter small service and small edge"
## Requirement - what kind of business use case are you trying to solve?
Our company have thousands of service.
And the system architecture is too difficult to distinguish each service.
## Problem - what in Jaeger blocks you from solving the requirement?
Could not auto filter less important service and edge between service.
## Proposal - what do you suggest to solve the problem or improve the exis

[2022-04-25 12:44] h1z3y3 commented on #525
+1

[2022-04-26 04:49] jaskerv opened #937 "Show tags in span view"
## Requirement - what kind of business use case are you trying to solve?
As a user, I wish to select tags that are of value to me on the span view page.

## Problem - what in Jaeger blocks you from solving the requirement?
To do the same, I would need to open every span and tag. Then locate my desired tag.

## Proposal - what do you suggest to solve the problem or improve the existing situation?
[

[2022-05-05 16:16] VladislavBryukhanov opened #942 "Monitor Tab - Support new user analytics events in Jaeger"
## Requirement - what kind of business use case are you trying to solve?
We want to be able to track a few addition SPM tracing events

## Problem - what in Jaeger blocks you from solving the requirement?
currently Jaeger doesn't have a necessary events for SPM tracing

## Proposal - what do you suggest to solve the problem or improve the existing situation?
We suggest to implement this list of ev

[2022-05-09 22:12] nofar9792 opened #945 "Monitor Tab - pages crashed when searching for traces"
**Describe the bug**
Monitor tab crashes when search tab is in loading state

**To Reproduce**
Steps to reproduce the behavior:
1.  click on "find traces"
2. clink on monitor tab

**Expected behavior**
show monitor tab on loading state

**Screenshots**

https://user-images.githubusercontent.com/11076023/167506977-3762a772-2403-4f64-a862-2214ffb76ea1.mov

[2022-05-10 15:45] yurishkuro opened #948 "Broken test?"
@nofar9792 The tests were run locally from an unrelated commit and failed. Can it be fixed?
[code]

[2022-05-10 15:46] #945 closed

[2022-05-15 12:53] esnible opened #952 "Docs: how to run/test the UI"
Attempting to follow the directions at https://github.com/jaegertracing/jaeger-ui#development by doing `yarn start` brings up a screen that says `Unhandled Rejection (Error): HTTP Error: Error occured while trying to proxy to: localhost:3000/api/services`.

I have another Jaeger running at 16686, but the instructions don't explain how to point the `yarn start` version at :3000.

The way I have bee

[2022-05-15 16:41] yurishkuro commented on #952
I am not sure what specific issue you're running into. My understanding is that `yarn start` runs a web server on port 3000 that serves UI assets (with hot reloading support), but the API requests are being proxied to the standard port :16686 where Jaeger is expected to be running.

I just tried it, run `$ go run ./cmd/all-in-one` in jaeger/ and then `yarn start` in jaeger-ui/

[2022-05-15 18:43] esnible commented on #952
Ah, thanks for checking.  I was able to duplicate your process.  You are correct; there is no problem with the UI.

I run Jaeger using ```
ADMIN_HTTP_HOST_PORT=localhost:14269 HTTP_SERVER_HOST_PORT=localhost:5778 \
COLLECTOR_GRPC_SERVER_HOST_PORT=localhost:14250 COLLECTOR_HTTP_SERVER_HOST_PORT=localhost:14268 \
QUERY_HTTP_SERVER_HOST_PORT=localhost:16686 QUERY_GRPC_SERVER_HOST_PORT=localhost:16685

[2022-05-18 14:31] esnible commented on #952
Closing because I have a report that this work correctly on Linux.  It isn't clear what the Mac problem is, or if every Mac user experiences it.  The work-around of *not* overriding the `QUERY_HTTP_SERVER_HOST_PORT` flag when testing is sufficient.

[2022-05-24 03:00] zdyj3170101136 opened #953 "support store json jaeger trace"
## Requirement - what kind of business use case are you trying to solve?
I use opentelemetry/httptrace in my macbook, and use all-in-one to test show the trace page.
When i want to store this trace, and show it with my colleague and convinced them how useful is httptrace.
I could not find a great way to solve it.

## Problem - what in Jaeger blocks you from solving the requirement?
Jaeger has an u

[2022-05-30 18:05] #942 closed

[2022-06-13 16:41] darthlynx opened #958 "Internal Server Error after 20 seconds for big queries in Jaeger UI"
**Describe the bug**

We use the jaeger-query version 1.34.1 with the elasticsearch storage (OpenSearch cluster in our case). Both, ec2 instances with jaeger-query and OpenSearch cluster live in the same VPC, and we use VPC endpoint for the --es.server-urls parameter.

This setup works as expected when we search for the small traces, but Jaeger returns the 500 Internal Server Error after **20 seco

[2022-06-14 14:30] #958 closed

[2022-06-15 00:44] bobrik opened #959 "Archival nudge"
## Requirement - what kind of business use case are you trying to solve?

People forget to archive traces that they looked at. Later other people click on the links that used to work, but now they see 404:

<img width="1203" alt="image" src="https://user-images.githubusercontent.com/89186/173712257-0c7866f8-bc7a-4179-9d4f-f2ddab1f5b7d.png">

## Problem - what in Jaeger blocks you from solving the

[2022-06-15 03:53] yurishkuro commented on #959
I've also been thinking it would make sense to auto-archive traces that are opened in the UI. Manual archiving, with or without nudge, seems like an unnecessary friction in the user experience. I doubt the volume of traces viewed in the UI is anywhere near the volume of traces an average installation ingests, so the additional storage costs are going to be negligible.

This could be an option in t

[2022-06-15 17:55] bobrik commented on #959
I think the UI might need to drive the archival process. When you open 200 traces in a search, but only open a few of them, the query service doesn't see the individual `/trace/xyz` requests for those individual traces. There's also less of a chance of non-humans opening the UI, so you don't get the issue REST endpoint driving archival for robots.

Sometimes traces are incomplete when you open the

[2022-06-15 21:08] yurishkuro commented on #959
You're raising good points, although I would still prefer to solve the on the backend.

This is probably easy to fix by making the UI send some kind of query when opening the trace, instead of just displaying what was returned in the search. In fact, I think it would be beneficial for the UI to always query, even when coming from search, because technically the output of the search API does not ne

[2022-06-21 22:43] bforbis opened #962 "Create Trace Statistics Tooltips / Help Documentation"
## Requirement - what kind of business use case are you trying to solve?

The UI should be user friendly to new users of Jaeger and describe all the details of what's shown on the page. Particularly, the trace statistics breakdown view has lots of info on it, but not a lot of details which describe what each column means.
![image](https://user-images.githubusercontent.com/16994570/174908645-698af5

[2022-06-21 23:29] bforbis commented on #962
I do now see that there has been confusion of these reported in the past in #689, and now I know that ST means "Self Time" from the help page on the trace graph view. Looks like it would be good to include this explanation across both views, as suggested in that closed ticket.

[2022-06-22 00:41] yurishkuro commented on #962
+1 to have tooltips

[2022-06-28 10:48] GoingMyWay commented on #657
See this answer: https://stackoverflow.com/a/43922390/5046896

[2022-07-04 22:22] yurishkuro opened #969 "Add more time ranges to SPM"
## Requirement - what kind of business use case are you trying to solve?

When running the SPM demo, see the charts asap.

## Problem - what in Jaeger blocks you from solving the requirement?

it takes a few minutes before the charts start drawing any lines.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

The shortest time interval is 1hr, but usually mo

[2022-07-11 03:08] jingslunt commented on #525
+2

[2022-07-19 05:18] Rperry2174 commented on #390
Hi @yurishkuro we use Jaeger for some of our examples and we ship our flamegraph component as a standalone [npm package](https://www.npmjs.com/package/@pyroscope/flamegraph) in a way where it could be used to visualize anything structured the right way (including traces).

Here's a proof-of-concept of what it looks like to visualize a Jaeger trace as a flamegraph:

https://user-images.githubuserco

[2022-07-19 15:25] yurishkuro commented on #390
@Rperry2174 I think it would be great to have the viz built-in natively in Jaeger. Once the core is in, we can fiddle with the exact viz based on users feedback.

[2022-07-26 15:01] sorc1 opened #973 "[Bug]: UI shows large integer log values incorrectly"
### What happened?

UI doesn't show large log values of int64 type as is. Instead, it shows approximate values. For example, instead of 9223372036854775200 it shows 9223372036854775000. Moreover, instead of INT64_MAX (922337203654775807) it shows 9223372036854776000 which is greater than INT64_MAX (but on 'Copy JSON' function it still shows "type": "int64").

Some results of 'Copy JSON' function:

[2022-08-22 08:03] SealinGp opened #982 "[Bug]: /trace/traceID loss of precision"
### What happened?

i guess the package 'isomorphic-fetch' may loss of precision(int64) while proxy to load data from jaeger
jaeger-ui: v1.14.0
jaeger: v1.24.0

### Steps to reproduce

1. start jaeger
2. change packages/jaeger-ui/src/api/jaeger.js:42 && start jaeger-ui
![image](https://user-images.githubusercontent.com/32982627/185867096-8e970c41-0cf0-4e75-ad52-adfedefcf98e.png)
4.access /trace/4c

[2022-08-22 09:17] SealinGp commented on #982
sorry, my bad. this bug is because 780177723283783680 overflow js Number.MAX_VALUE to cause precision loss,and i change the code
![image](https://user-images.githubusercontent.com/32982627/185885684-805ce5d7-66dd-499b-adf5-5f28a2b5183c.png)

will fix this, but it will copy bigint as string because of https://github.com/GoogleChromeLabs/jsbi/issues/30
plz let me know it if there is better way to fi

[2022-08-23 03:15] SealinGp commented on #973
same situation as me. they recommend us to output string when it's big numeric numbers
ref pr: https://github.com/jaegertracing/jaeger-ui/pull/983

[2022-08-23 03:26] yurishkuro commented on #973
My point is that the precision loss usually happens if the number is coming in JSON as integer, and Javascript is losing precision while parsing that JSON. The number needs to come as string from the server.

[2022-08-31 21:42] MadLittleMods opened #985 "[Feature]: Keep `Operation` field filled in when switching to `Service` that has the same operation name"
### Requirement

As a Jaeger user, I want the `Operation` field to be maintained when switching `Services` so that I don't have to keep changing it.

### Problem

When switching services, the `Operation` field is reset back to `all`. But since I am just switching between different numbered instances of the same service, it's very annoying to keep setting the `Operation` back to what I am trying to

[2022-09-01 02:15] yurishkuro commented on #985
I think it makes sense, but I also think it's a pretty niche use case, as services are supposed to implement different APIs so overlap in operation names would be only coincidental (your setup seems to be using service instance ID as service name).

[2022-09-06 05:57] Justin-YimYim commented on #247
Hi guys, has this issue solved? If I understand it rightly, the performance issue after loading 1500+ traces is because of the DOM generation on the Search Trace Page. I have made a paging button to split the DOM generation and I have used 10K traces to test it and could be rendered. Should I make a pull request or should I create a new issue branch?

[2022-09-06 14:10] yurishkuro commented on #247
The issue is that if your search results contain 1000+ traces, the results themselves are only showing a limited set of information about each trace that can be represented by a handful of data elements, but in order to display them the UI nonetheless needs to load complete traces and pre-process them (like finding the root span to display name & latency).

[2022-09-07 02:30] Justin-YimYim commented on #247
I have two ideas about this issue.
1. Leaving the pre-process, and only work on the rendering problem first. Since rendering 1500+ DOM will be time consuming, so using paging to split the 1500+ DOM and only render them by pages would definitely increase the performance of rendering.
2. During the pre-process and loading stage, maybe we could only work on only 100+ traces first while leaving the re

[2022-09-21 12:33] Limess opened #989 "[Bug]: Special cases are not handled correctly when using an elasticsearch backend with ES_TAGS_AS_FIELDS_ALL set"
### What happened?

As a Jaeger user with Elasticsearch as a backend
I want the Jaeger UI to respect ES_TAGS_AS_FIELDS_DOT_REPLACEMENT
So I can use sophisticated UI functionality while using Elasticsearch as a backend

Currently, https://github.com/jaegertracing/jaeger-ui/pull/659 is not working due to `peer.service` becoming `peer_service` (similar with other special functionality/fields implemen

[2022-09-22 10:35] Limess commented on #989
This only seems to occur when using a custom label, e.g `_` rather than the default `@`. We've now switched to the default so are less interested in the resolution of this.

[2022-09-30 17:05] yurishkuro commented on #180
@schoentoon I responded on https://github.com/jaegertracing/jaeger/issues/423

[2022-10-09 22:38] yurishkuro opened #998 "Upgrade React version - LFX Mentorship"
For the application process please refer to [this issue](https://github.com/jaegertracing/jaeger/issues/4457).

- Description: Jaeger UI is built on React. While we are seemingly already on v18.x of React, the upgrade was not done across the board and some other dependencies are still lagging behind, e.g. `"@types/react": "16.8.7"`. It's also blocking upgrades of other dependencies. This project i

[2022-10-14 13:55] pks-ws commented on #744
Hi, May I know when this issue would be addressed? We are also struck with the same issue, when Jaeger is dealing with high volumes of data, setting minimum Time interval to 1 minute does not make any sense to view all the logs.
Can you please take this on priority as its already supported in Kibana.

[2022-10-23 01:11] trealma opened #1006 "[Feature]: Can you add a custom link button to the page to jump to promethus or kibana or other sys in ui?"
### Requirement

Can you add a custom link button to the page to jump to promethus or kibana?
<img width="544" alt="image" src="https://user-images.githubusercontent.com/60080355/197368368-f92575e4-853a-42ab-afe9-4cce39206dc8.png">

### Problem

To find trace, often need to take the query log according to traceid, if can add a link button, it is very convenient

### Proposal

_No response_

### Op

[2022-10-23 04:06] yurishkuro commented on #1006
Are you specifically interested in displaying the links on the search page?  We already support external links in the trace view, see https://github.com/jaegertracing/jaeger-ui/issues/465

[2022-10-30 08:20] AskAlice opened #1009 "[Bug]: Chrome autofill suggesting a password in the service field"
### What happened?

While visiting jaeger-ui running locally via docker (jaegertracing/all-in-one:latest), The service text input somehow suggests that chrome generates a new strong password.

### Steps to reproduce

1. run the following
[code]

  2. open http://localhost:16686 on
`Google Chrome | 106.0.5249.119 (Official Build) (64-bit) (cohort: Stable)` in Windows 11 with chrome password manager

[2022-10-30 14:30] yurishkuro commented on #1009
I don't see anything in the field's HTML attributes that would allow chrome to interpret this field as a password. Looks like a bug in Chrome, as they recently came out with more aggressive password autofill suggestions.

[2022-11-02 22:35] bobrik opened #1012 "[Bug]: flamegraph is confused by some traces"
### What happened?

Ad a Jaeger user, I want to see representative flamegraph representation of a trace. Unfortunately, it is misleading.

### Steps to reproduce

1. Load the following json:

<details>
  <summary>bug.json</summary>

[code]

</details>

2. Open it in Jaeger and see the following perfectly normal trace timeline:

<img width="1552" alt="image" src="https://user-images.githubuserconte

[2022-11-02 22:49] bobrik commented on #1012
I also made https://github.com/pyroscope-io/pyroscope/issues/1671, since we're mostly using what pyroscope provides.

[2022-11-02 23:38] Rperry2174 commented on #1012
Thanks for reporting and providing info to reproduce @bobrik Pyroscope team will take a look into this and fix

[2022-11-09 17:21] aoterolorenzo opened #1048 "[Bug]: jaeger-ui seems to require Python since the last release (ARM64)"
### What happened?

Using a slim base container with Node + Golang (already used successfully to complile the last Jaeger version), results in the following error when running an `npm install` over the `jaeger-ui`:

[code]

### Steps to reproduce

Use a slim base container without Python, clone the UI and try to `npm install`. I use an internal one but it should be reproduced with bitnami's minide

[2022-11-09 17:23] aoterolorenzo commented on #1048
I'm not fully aware that it is not intentional so feel free to discard the issue if proceed. I wanted just to report in case it doesn't.

[2022-11-10 10:49] aoterolorenzo commented on #1048
It doesn't happen in non ARM64 machines/images!

[2022-11-12 22:17] yurishkuro opened #1052 "[Bug]: yarn start no longer works"
### What happened?

When developing UI features I should be able to start a dev version of the UI with `yarn start`

### Steps to reproduce

1. `rm -rf node_modules packages/jaeger-ui/node_modules packages/plexus/node_modules`
2. `yarn install --frozen-lockfile`
3. `yarn start`

### Expected behavior

dev build of the UI should start

### Relevant log output

[code]

### Additional context

The `y

[2022-11-13 09:39] mmorel-35 commented on #1052
Hi @yurishkuro,
Is it the only logs you have ?
What if you rollback react-app-rewired update ?
Otherwise, the whole upgrade will have to be completely rolled-back

[2022-11-13 13:59] yurishkuro commented on #1052
Those are all the logs from start command. If there's a debug mode I can try that. Are you saying that start works for you?

Ideally I would prefer to fix the issue than rollback so many updates.

[2022-11-13 15:39] yurishkuro commented on #1052
Found the issue

[2022-11-13 16:04] #1052 closed

[2022-11-14 02:00] #187 closed

[2022-11-14 12:15] #1006 closed

[2022-11-14 17:39] mmorel-35 opened #1061 "[Feature]: Use a tool to preview GUI"
### Requirement

As a contributor, when I modify the interface of jaeger-ui , I would like to see a preview of my developments with a link in my PR.

### Problem

There is no way so see the result of a visual change in the GUI without a local install on a computer.

### Proposal

Serveral projects are using [netlify](https://github.com/apps/netlify) to provide a visual experience of there GUI.
It

[2022-11-14 18:41] yurishkuro commented on #1061
This feels kind of backwards to me - how can someone make sensible UI changes without actually running the UI?

[2022-11-14 19:12] mmorel-35 commented on #1061
The developer willl see it but the reviewers cannot see it without local installation

[2022-11-24 11:48] Myeongseok-Kim opened #1077 "[Bug]: "Deep Dependency Graph" is not drawn."
### What happened?

After finding Trace
When I click the "Deep Dependency Graph" button, no graph is drawn.

### Steps to reproduce

1. Find Traces
2. Deep Dependency Graph

### Expected behavior

graph is drawn

### Relevant log output

_No response_

### Screenshot

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/54100684/203776562-9cb625ca-3aea-4fcc-9ee7-112b95a0b22

[2022-11-24 15:26] yurishkuro commented on #1077
May be related to fixes I had to add in #994

[2022-11-24 21:01] yurishkuro commented on #1077
update: I verified that the issue started after #1001

[2022-11-25 00:13] yurishkuro opened #1081 "[Feature]: upgrade graph layout library"
Jaeger depends on a number of deprecated graph layout libs, like `dagre` and `viz.js`. It also provides a confusing assortment of graph views (force directed, DAG, and the latest graphs via plexus).

To avoid getting blocked on very old dependencies, we need to move to something newer.

One option to investigate: https://github.com/erikbrinkman/d3-dag

[2022-11-25 00:31] #1077 closed